.ways-to-invest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100vw;
    /* width: 100%; */
    height: auto;
    margin-top: 80px;
    padding: 160px 14px;
}
.wti-heading, .sotm-heading {
    width: 100%;
    height: auto;
    font-weight: 600;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: center;
}
.wti-text, .sotm-text {
    margin: 18px auto 53px;
    font-size: 24px;
    width: 100%;
    line-height: 35px;
    text-align: center;
}
.title-white {
    color: white;
    margin-top: 0;
}
.text-white {
    color: white;
    text-align: start;
    width: 300px;
    margin-top: 1.2rem;
}
.returns-card {
    background-color: #7913e5;
    width: 100vw;
    max-width: 1200px;
    height: 500px;
    padding: 3rem 3rem;
    position: relative;
    border-radius: 1.6rem;
}
.myinvestments {
    position: absolute;
    bottom: -4px;
    right: 60px;
    width: fit-content;
    height: auto;
}
.myinvestments img {
    width: 450px;
}

.saver-of-the-month {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 160px;
    padding-bottom: 64px;
}
.sotm-text {
    width: 80%;
}
.saver-youtube {
    width: 80%;
    margin: 0 auto;
}
.saver-youtube iframe {
    object-fit: cover;
    width: 100%;
    border: 10px solid #fff;
    border-radius: 24px;
    min-height: 465px;
    margin-bottom: 2rem;
}
.container {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    align-items: center;
    padding: 100px 16px;
}
.fallback {
    width: fit-content;
    height: auto;
}
.fallback img {
    width: 450px;
}
.fallback-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.fallback-heading {
    height: auto;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: start;
    margin-bottom: 1rem;
}
.apple-store-outlined, .play-store-outlined {
    background-color: transparent;
    border: 1px solid grey;
    color: black ;
}